@using BattleShip.App.Components
@using BattleShip.App.Services
@using BattleShip.Models
@using Microsoft.AspNetCore.SignalR.Client
@inherits LayoutComponentBase
@inject NavigationManager Navigation
@inject LayoutService LayoutService
@inject GameHub GameHub

<div>

    <BackgroundImage Blur="@BackgroundBlur" Hue="@BackgroundHue"/>

    @Body
    
    @if (_queue != null)
    {
        <QueueViewer queueType="@_queue"/>
    }

</div>

@code {

    private QueueType? _queue = null;

    public int BackgroundBlur
    {
        get => _backgroundBlur;
        set
        {
            if (_backgroundBlur == value) return;
            _backgroundBlur = value;
            StateHasChanged();
        }
    }

    private int _backgroundBlur = 0;

    public int BackgroundHue
    {
        get => _backgroundHue;
        set
        {
            if (_backgroundHue == value) return;
            _backgroundHue = value;
            StateHasChanged();
        }
    }

    private int _backgroundHue = 0;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        LayoutService.MainLayout = this;
        GameHub.OnStateChanged += OnStateChanged;
        GameHub.OnQueueJoined += OnQueueJoined;
        GameHub.OnQueueLeft += OnQueueLeft;
        GameHub.OnGameJoined += OnGameJoined;
        GameHub.OnGameLeft += OnGameLeft;
    }
    
    private void OnStateChanged()
    {
        if (GameHub.HubConnection != null && GameHub.HubConnection.State != HubConnectionState.Disconnected) return;
        _queue = null;
        StateHasChanged();
    }
    
    private void OnQueueJoined(QueueType queueType)
    {
        _queue = queueType;
        StateHasChanged();
    }
    
    private void OnQueueLeft()
    {
        _queue = null;
        StateHasChanged();
    }
    
    private void OnGameJoined(Game game)
    {
        Navigation.NavigateTo("/game");
    }
    
    private void OnGameLeft(Game game)
    {
        Navigation.NavigateTo("/menu");
    }

}