@page "/Login"
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject NavigationManager Navigation
@inject IAccessTokenProvider TokenProvider
<h3>Login</h3>
<button @onclick="OnLoginClicked">Se connecter avec OAuth</button>

@code {

    private async Task OnLoginClicked()
    {
        var result = await TokenProvider.RequestAccessToken();
        if (result.TryGetToken(out var token))
        {
            // Utilisez le token ici (par exemple, faire une requête API)
            Console.WriteLine("Token reçu : " + token.Value);
            Navigation.NavigateTo("/"); // Redirige vers la page d'accueil ou une autre page
        }
        else
        {
            Navigation.NavigateTo("authentication/login"); // Redirige vers la page de connexion
        }
    }

}