@page "/Menu"

@attribute [Authorize]
@using BattleShip.App.Components
@using BattleShip.App.Services
@using BattleShip.Models
@inject LayoutService LayoutService
@inject GameServer GameServer


<div id="page">

    <div id="header">
        <h1 id="title">Battleship</h1>
        <ProfileView/>
    </div>

    <div id="menu">
        <div id="buttons">
            <button @onclick="PlayAgainstPlayer">Play</button>
            <button @onclick="PlayAgainstAIEasy">Play VS AI (Easy)</button>
            <button @onclick="PlayAgainstAIHard">Play VS AI (Hard)</button>
        </div>
    </div>

</div>

<GameHubConnectionHandler/>
<AutoLeaveGame/>


@code {

    protected override void OnInitialized()
    {
        base.OnInitialized();
        if (LayoutService.MainLayout != null)
        {
            LayoutService.MainLayout.BackgroundBlur = 0;
            LayoutService.MainLayout.BackgroundHue = 0;
        }
    }

    private void PlayAgainstPlayer()
    {
        GameServer.JoinQueue(new QueueSettings
        {
            Type = QueueType.QuickPlay.ToString()
        });
    }
    
    // ReSharper disable once InconsistentNaming
    private void PlayAgainstAIEasy()
    {
        GameServer.JoinQueue(new QueueSettings
        {
            Type = QueueType.AgainstAI.ToString(),
            AIDifficulty = 0
        });
    }
    
    // ReSharper disable once InconsistentNaming
    private void PlayAgainstAIHard()
    {
        GameServer.JoinQueue(new QueueSettings
        {
            Type = QueueType.AgainstAI.ToString(),
            AIDifficulty = 1
        });
    }
    
}