@page "/Menu"

@attribute [Authorize]
@using BattleShip.App.Components
@using BattleShip.App.Services
@inject NavigationManager Navigation
@inject LayoutService LayoutService


<div id="page">

    <div id="header">
        <h1 id="title">Battleship</h1>
        <ProfileView/>
    </div>

    <div id="menu">
        <div id="buttons">
            <button @onclick="PlayAgainstPlayer">Play</button>
            <button @onclick="PlayAgainstAI">Play VS AI</button>
        </div>
    </div>

</div>

<GameHubConnexionHandler/>


@code {

    protected override void OnInitialized()
    {
        base.OnInitialized();
        if (LayoutService.MainLayout != null)
        {
            LayoutService.MainLayout.BackgroundBlur = 0;
            LayoutService.MainLayout.BackgroundHue = 0;
        }
    }

    private void PlayAgainstPlayer()
    {
        
    }
    
    // ReSharper disable once InconsistentNaming
    private void PlayAgainstAI()
    {
        
    }
    
}