@using BattleShip.App.Services
@inject NavigationManager Navigation
@inject LayoutService LayoutService

<div id="loading-screen-page">

    <div id="loading-screen-div">

        @switch (State)
        {
            case LoadingState.NeedsLogin:
            {
                <p class="loading-screen-text">YOU NEED TO LOGIN TO PLAY</p>
                <button class="loading-screen-button" @onclick="OnLoginClicked">LOGIN</button>
                break;
            }
            case LoadingState.LoggingIn:
            {
                <img id="loading-screen-icon" src="images/ui/loading-icon.gif" alt=""/>
                <p class="loading-screen-text">LOGGING IN...</p>
                break;
            }
            case LoadingState.Connecting:
            {
                <img id="loading-screen-icon" src="images/ui/loading-icon.gif" alt=""/>
                <p class="loading-screen-text">CONNECTING TO GAME SERVER...</p>
                break;
            }
            case LoadingState.Failed:
            {
                <p class="loading-screen-error">FAILED TO CONNECT TO GAME SERVER</p>
                break;
            }
            default:
                throw new ArgumentOutOfRangeException();
        }

    </div>
</div>

<AutoLeaveGame/>

@code {

    [Parameter] public LoadingState State { get; set; }

    public enum LoadingState
    {
        NeedsLogin,
        LoggingIn,
        Connecting,
        Failed
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        if (LayoutService.MainLayout != null)
        {
            LayoutService.MainLayout.BackgroundBlur = 10;
            LayoutService.MainLayout.BackgroundHue = 20;
        }
    }

    private void OnLoginClicked()
    {
        Navigation.NavigateTo("authentication/login");
    }

}