@using BattleShip.App.Services
@using BattleShip.Models
@inject GameServer GameServer

<div id="profile-view">
    <p id="username">@(_profile?.UserName ?? "...")</p>
    <img id="profile-picture" src="@(_profile?.Picture ?? "")" alt="Profile picture"/>
</div>

@code {
    private Profile? _profile;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        _profile = await GameServer.GetProfile();
    }
}